<ion-header>

<!--   <ion-navbar >
    <ion-title>credit</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="viewOrModifyState()">
        <ion-icon name="eye"></ion-icon>
      </button>
      <button ion-button icon-start class="btn-txt" (click)="viewMonths()">
        <ion-icon name="calendar"></ion-icon> 
        <ion-label color="white">Meses</ion-label>
      </button>
    </ion-buttons>
  </ion-navbar> -->
    <ion-toolbar>
      <button ion-button menuToggle left  (click)="activeExtra()">
        <ion-icon name="more"></ion-icon>
      </button>
    <ion-input large type="number" placeholder="valor.." [(ngModel)]="amount"></ion-input>
    <ion-buttons end>
      <button ion-button icon-right color="purple" (tap)="addTodo()">
        Send
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div *ngIf="activeExtraButtons == true" class="activeExtra">
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button icon-only class="btn-txt-green" (tap)="viewOrModifyState()">
          <ion-icon name="eye"></ion-icon>
          <ion-label color="white">Abonar/Cancelar</ion-label>
        </button>
        <button ion-button icon-start class="btn-txt-danger" (click)="viewMonths()">
          <ion-icon name="calendar"></ion-icon> 
          <ion-label color="white">Meses</ion-label>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
<!--   <ion-input large type="number" placeholder="valor.." [(ngModel)]="amount"></ion-input>
  <button ion-button full (tap)="addTodo()">Subir</button> -->
	<p>TOTAL : {{total}}</p>

<!--     <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card> -->
 
<ion-list>
    <ion-item class="text" *ngFor="let item of items | async" >
      <ion-grid *ngIf="item.key != 'state'">
    		<ion-row>
    			<ion-col col-3>
    				<div *ngIf="item.through == true; else noDecoration">
    					<p class="through">$ {{addCommas(item.value)}}</p>
    				</div>
    				<!-- <div *ngIf="item.through == false">
	    				$ {{addCommas(item.value)}}
    				</div> -->
            <ng-template #noDecoration>
              $ {{addCommas(item.value)}}
            </ng-template>
    			</ion-col>
    			<ion-col  col-5>
      			<button ion-button (tap)="detailOfValue(item.key)" outline color="secundary">Detalle</button>
    			</ion-col>
    			<ion-col  col-4 *ngIf="item.through == true; else okButtonThrough">
    				<button ion-button [disabled]="true" (tap)="setThrough(item.key)" outline color="danger">tachar</button>
    			</ion-col>
          <ng-template #okButtonThrough>
            <ion-col  col-4 >
              <button ion-button (tap)="setThrough(item.key)" outline color="danger">tachar</button>
            </ion-col>
          </ng-template>
  			</ion-row>	
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>